@import './variables.scss';

.app{

    display: flex;
    justify-content: center;

    background-color: var(--background-color);
    color: var(--support-color);

    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    padding-top: 80px;
}
.subpage{
    min-height: 80vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    .subpage-illustration{
        width: 400px;
        height: 200px;
    }
    .subpage-title{
        color: var(--outline-color);
        padding-bottom: 0;
    }
    .subpage-description{
        color: var(--support-color);
        min-width: 300px;
        width: 40vw;
        font-size: 20px;
        margin-top: 0;
        text-align: center;
    }
}

.std-shadow{
    box-shadow: 0px 0px 25px -6px  var(--main-color);
}

.std-card{
    @extend .std-shadow;

    border-radius: 20px;
    
}

.std-btn{
    
    position: relative;

    width: 100px;
    padding: 20px;

    border: 1px solid var(--outline-color);
    color: var(--outline-color);

    border-radius: 15px;

    transition: 0.2s;

    box-shadow: 0px 0px 20px -6px  var(--outline-color);

    a{
        text-decoration: none;
    }

    &.stick-down{
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 0;
        left: 50%;
    }
}

.std-btn:hover{
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--outline-color);
}

.std-btn:active{
    box-shadow: 2px 2px 10px 0px var(--outline-color), -2px -2px 10px 0px var(--outline-color);
}

button.std-btn{
    background-color: var(--background-color);
}

.std-item-list{
    list-style: none;
    padding: 0;
    transition: 0.5s;
    .std-item{
        @extend .std-shadow;

        padding: 15px;
        margin: 15px;
        width: 80vw;
        max-width: 1000px;

        border-radius: 20px;
        

        .std-item-contents{

            display: flex;
            flex-direction: row;
            align-items: center;

            position: relative;

            & > *{
                margin-right: 10px;
            }

            .std-item-icon{
                min-width: 30px;
                height: 30px;
            }

            .std-item-description{
                color: var(--support-color);
                padding-right: 40px;
            }

            .std-item-show-icon{
                position: absolute;
                right: 10px;
            }
        }

        .std-item-info{
            margin-top: 10px;
            margin-bottom: 10px;

            transition: 0.2s;
            &.hidden{
                margin: 0;
                height: 0;
            }
            &.transparent{
                opacity: 0;
            }

            .std-item-info-list{
                list-style: none;
                color: var(--support-color);
                
                .attribute-name{
                    color: var(--outline-color);
                    font-weight: bold;
                }
            }
        }
    }
}

.std-label{
    color: var(--outline-color);
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.std-dropdown{
    padding: 10px;
    font-size: 18px;
}

.std-big-card{
    @extend .std-card;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    place-items: center;

    width: 80vw;
    min-width: 280px;

    min-height: 70vh;

    padding: 20px;
    margin: 20px;

    &.illustration-left{
        .std-big-card-illustration{
            grid-column: 1;
        }
    }

    &.illustration-right{
        .std-big-card-illustration{
            grid-column: 2;
        }
    }

    .std-big-card-illustration{

        grid-row: 1;

        width: 400px;
        height: 400px;

        path{
            fill: var(--outline-color);
        }
        rect{
            fill: var(--outline-color);
        }
        circle{
            fill: var(--outline-color);
        }
    }

    .std-big-card-contents{

        grid-row: 1;

        width: 100%;

        padding-bottom: 150px;

        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;

        .std-big-card-title{
            color: var(--outline-color);
        }

        .std-big-card-description{
            color: var(--support-color);
            font-size: 20px;

            padding-right: 20px;
            padding-left: 20px;
        }
        
        .std-big-card-send-btn{
            width: 150px;
            height: 70px;
        }
    }
}


.popup-content{
    padding: 10px !important;
    background: var(--background-color) !important;
    border: 2px solid var(--outline-color) !important;
    border-radius: 15px;
    color: var(--support-color);
}


@media (max-width: #{$tablet-breakpoint}), (max-device-width: #{$tablet-breakpoint}){
    .subpage{
        padding-bottom: 200px;
    }

    .std-big-card{

        display: flex;
        flex-direction: column;
        
        min-height: initial;
        
        .std-big-card-title{
            text-align: center;
        }

        .std-big-card-illustration{

            width: 200px;
            height: 200px;
        }
        
    }
}
