.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
  color: var(--support-color);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-top: 80px;
}

.subpage {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.subpage a {
  text-decoration: none;
}

.subpage .subpage-illustration {
  width: 400px;
  height: 200px;
}

.subpage .subpage-title {
  color: var(--outline-color);
  padding-bottom: 0;
}

.subpage .subpage-description {
  color: var(--support-color);
  min-width: 300px;
  width: 40vw;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.std-shadow, .std-card, .std-big-card, .std-item-list .std-item {
  -webkit-box-shadow: 0px 0px 25px -6px var(--main-color);
          box-shadow: 0px 0px 25px -6px var(--main-color);
}

.std-card, .std-big-card {
  border-radius: 20px;
}

.std-btn {
  position: relative;
  width: 100px;
  padding: 20px;
  border: 1px solid var(--outline-color);
  color: var(--outline-color);
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 0px 20px -6px var(--outline-color);
          box-shadow: 0px 0px 20px -6px var(--outline-color);
}

.std-btn a {
  text-decoration: none;
}

.std-btn.stick-down {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
}

.std-btn:hover {
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--outline-color);
}

.std-btn:active {
  -webkit-box-shadow: 2px 2px 10px 0px var(--outline-color), -2px -2px 10px 0px var(--outline-color);
          box-shadow: 2px 2px 10px 0px var(--outline-color), -2px -2px 10px 0px var(--outline-color);
}

button.std-btn {
  background-color: var(--background-color);
}

.std-item-list {
  list-style: none;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.std-item-list .std-item {
  padding: 15px;
  margin: 15px;
  width: 80vw;
  max-width: 1000px;
  border-radius: 20px;
}

.std-item-list .std-item .std-item-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.std-item-list .std-item .std-item-contents > * {
  margin-right: 10px;
}

.std-item-list .std-item .std-item-contents .std-item-icon {
  min-width: 30px;
  height: 30px;
}

.std-item-list .std-item .std-item-contents .std-item-description {
  color: var(--support-color);
  padding-right: 40px;
}

.std-item-list .std-item .std-item-contents .std-item-show-icon {
  position: absolute;
  right: 10px;
}

.std-item-list .std-item .std-item-info {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.std-item-list .std-item .std-item-info.hidden {
  margin: 0;
  height: 0;
}

.std-item-list .std-item .std-item-info.transparent {
  opacity: 0;
}

.std-item-list .std-item .std-item-info .std-item-info-list {
  list-style: none;
  color: var(--support-color);
}

.std-item-list .std-item .std-item-info .std-item-info-list .attribute-name {
  color: var(--outline-color);
  font-weight: bold;
}

.std-label {
  color: var(--outline-color);
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.std-dropdown {
  padding: 10px;
  font-size: 18px;
}

.std-big-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  width: 80vw;
  min-width: 280px;
  min-height: 70vh;
  padding: 20px;
  margin: 20px;
}

.std-big-card.illustration-left .std-big-card-illustration {
  -ms-grid-column: 1;
  grid-column: 1;
}

.std-big-card.illustration-right .std-big-card-illustration {
  -ms-grid-column: 2;
  grid-column: 2;
}

.std-big-card .std-big-card-illustration {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 400px;
  height: 400px;
}

.std-big-card .std-big-card-illustration path {
  fill: var(--outline-color);
}

.std-big-card .std-big-card-illustration rect {
  fill: var(--outline-color);
}

.std-big-card .std-big-card-illustration circle {
  fill: var(--outline-color);
}

.std-big-card .std-big-card-contents {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.std-big-card .std-big-card-contents .std-big-card-title {
  color: var(--outline-color);
}

.std-big-card .std-big-card-contents .std-big-card-description {
  color: var(--support-color);
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.std-big-card .std-big-card-contents .std-big-card-send-btn {
  width: 150px;
  height: 70px;
}

.std-text-input {
  background-color: var(--background-color);
  color: var(--outline-color);
  border: 2px solid var(--outline-color);
  border-radius: 5px;
  font-size: 18px;
}

.std-text-input.number-input {
  width: 100px;
}

.popup-content {
  padding: 10px !important;
  background: var(--background-color) !important;
  border: 2px solid var(--outline-color) !important;
  border-radius: 15px;
  color: var(--support-color);
}

@media (max-width: 1100px), (max-device-width: 1100px) {
  .subpage {
    padding-bottom: 200px;
  }
  .std-big-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: initial;
  }
  .std-big-card .std-big-card-title {
    text-align: center;
  }
  .std-big-card .std-big-card-illustration {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=App.css.map */