
@import './App.scss';


.robot-utils-page{
    .utils-card{
        @extend .std-card;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        place-items: center;

        width: 80vw;
        min-width: 280px;

        height: 60vh;
        min-height: 500px;

        padding: 20px;
        margin: 20px;

        &.illustration-left{
            .utils-card-illustration{
                grid-column: 1;
            }
        }

        &.illustration-right{
            .utils-card-illustration{
                grid-column: 2;
            }
        }

        .utils-card-illustration{

            grid-row: 1;

            width: 400px;
            height: 400px;

            path{
                fill: var(--outline-color);
            }
            rect{
                fill: var(--outline-color);
            }
            circle{
                fill: var(--outline-color);
            }
        }

        .utils-card-contents{

            grid-row: 1;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;

            .utils-card-title{
                color: var(--outline-color);
            }

            .utils-card-description{
                color: var(--support-color);
                font-size: 20px;

                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}