$nav-height: 50px;


// Dark Theme
$dark-main-color: #493662;
$dark-support-color: #FFFFFF;
$dark-outline-color: #BB96FC;
$dark-background-color: #1F1B24;

// Breakpoints
$tablet-breakpoint: 1100px;
$phone-breakpoint: 480px;
